@import url('https://fonts.googleapis.com/css?family=Roboto');

/* SPP-Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SPP-Global Styles */
:root {
  font-size: 62.5%;

  /* Speed Variables */
  --menu-speed: 0.75s;

  /* Color Vartiables */
  --primary-color: rgb(41, 170, 227); /* #328daa 0294a5// 00A1CB*/
  --secondary-color: rgb(1, 164, 164); /* #01a4a4;*/
  --dark-color: rgb(25, 35, 60); /* #454752;*/
  --light-color: rgb(255, 247, 236); /*#fff7ec*/
  --danger-color: rgb(215, 0, 96); /*#d70060;*/
  --success-color: rgb(0, 255, 1);
  --warning-color: rgb(251, 176, 59);
  --jaune: #fdee21; /* rgb(253,238,33) */
  --rouge: #fe0000; /* rgb(254,0,0) */
  --bleu-ombre: #173348; /* rgb(23,51,72) */
  --magenta-nuit: #471c30; /*rgb(71,28,48) */
  --magenta: #93268f; /* rgb(147,38,143) */
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: var(--dark-color);
  color: var(--light-color);
  background-image: url(./assets/bg_hex_multicolor_2560.jpg);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Animation (Add After) */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}
