@import url('https://fonts.googleapis.com/css?family=Roboto');

/* SPP-Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SPP-Global Styles */
:root {
  font-size: 62.5%;

  /* Speed Variables */
  --menu-speed: 0.75s;

  /* Color Vartiables */
  --primary-color: rgb(41, 170, 227); /* #328daa 0294a5// 00A1CB*/
  --secondary-color: #01a4a4;
  --dark-color: rgb(25, 35, 60); /* #454752;*/
  --light-color: #fff7ec;
  --danger-color: #d70060;
  --success-color: rgb(0, 255, 1);
  --warning-color: rgb(251, 176, 59);
  --overlay1-color: rgb(23, 51, 72, 0.9);
  --overlay2-color: rgb(71, 28, 48, 0.9);
  /*--bleu-nuit: #19233c;  rgb(25,35,60) */
  --bleu-ombre: #173348; /* rgb(23,51,72)
  /*--bleu-clair: #29aae3;  rgb(41,170,227) */
  /*--vert-fluo: #00ff01;  rgb(0,255,1) */
  --jaune: #fdee21; /* rgb(253,238,33) */
  /*--orange: #fbb03b;  rgb(251,176,59) */
  --rouge: #fe0000; /* rgb(254,0,0) */
  --magenta-nuit: #471c30; /*rgb(71,28,48) */
  --magenta: #93268f; /* rgb(147,38,143) */
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: var(--dark-color);
  color: var(--light-color);
  background-image: url(./assets/bg_hex_multicolor_2560.jpg);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Forms */

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

/* spp-added Forms section */
.hex-container {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.login-container {
  width: 35vw;
  height: 30vw;
  background: #63a4ff;
  background: radial-gradient(circle, #63a4ff 40%, #83eaf1 80%);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5vw;
  animation: login-hex 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes login-hex {
  0% {
    transform: translateX(100rem) rotate(360deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 0.75;
  }
}

.register-container {
  width: 41vw;
  height: 35vw;
  background: rgba(25, 35, 60, 1);
  background: radial-gradient(circle, rgba(25, 35, 60, 1) 10%, #d70060 100%);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5vw;
}

.form-auth {
  height: 25vw;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

input[name='username'],
input[name='email'],
input[type='password'] {
  display: block;
  width: 20vw;
  margin: 1.2rem 0;
  padding: 1rem;
  font-size: 1.6rem;
  box-shadow: inset 1px 1px #444;
}

.btn-login:hover,
.btn-register:hover {
  background: var(--light-color);
  color: var(--dark-color);
  border: 2px solid var(--dark-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Animation (Add After) */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

/* Mobile Styles */
@media (max-width: 1440px) {
  body {
    background-image: url(./assets/bg_hex_multicolor_1440.jpg);
  }
}
@media (max-width: 1024px) {
  body {
    background-image: url(./assets/bg_hex_multicolor_1024.jpg);
  }
}
@media (max-width: 768px) {
  body {
    background-image: url(./assets/bg_hex_multicolor_768.jpg);
  }
}
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.6rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 375px) {
  body {
    background-image: url(./assets/bg_hex_multicolor_375.jpg);
  }
}
