.hex-container {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

/* Login & Register Forms */
.login-container {
  width: 35vw;
  height: 30vw;
  background: rgb(41, 170, 227);
  background: radial-gradient(
    circle,
    rgb(41, 170, 227) 30%,
    rgb(23, 51, 72) 100%
  );
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5vw;
  animation: login-hex 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes login-hex {
  0% {
    transform: translateX(100rem) rotate(360deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 0.75;
  }
}

.register-container {
  width: 41vw;
  height: 35vw;
  background: rgb(251, 176, 59);
  background: radial-gradient(
    circle,
    rgb(251, 176, 59) 30%,
    rgb(23, 51, 72) 100%
  );
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5vw;
}

.form-auth {
  height: 25vw;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

input[name='username'],
input[name='email'],
input[type='password'] {
  display: block;
  width: 20vw;
  margin: 1.2rem 0;
  padding: 1rem;
  font-size: 1.6rem;
  box-shadow: inset 1px 1px #444;
}

.btn-login:hover,
.btn-register:hover {
  background: var(--light-color);
  color: var(--dark-color);
  border: 2px solid var(--dark-color);
}

/* Contact Form */
.contact-container {
  width: 41vw;
  height: 35vw;
  background: rgb(1, 164, 164);
  background: radial-gradient(
    circle,
    rgb(1, 164, 164) 30%,
    rgb(41, 170, 227) 100%
  );
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5vw;
}

/* Forms */

/* .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
} */
