/* Mobile Styles */
@media (max-width: 1440px) {
  body {
    background-image: url(./assets/bg_hex_multicolor_1440.jpg);
  }
}
@media (max-width: 1024px) {
  body {
    background-image: url(./assets/bg_hex_multicolor_1024.jpg);
  }
}
@media (max-width: 768px) {
  body {
    background-image: url(./assets/bg_hex_multicolor_768.jpg);
  }
}
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.6rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 375px) {
  body {
    background-image: url(./assets/bg_hex_multicolor_375.jpg);
  }
}
